<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FyberOffers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DFBE5E31CCE971E00973EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFBE5FC1CCE971E00973EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFBE6071CCE971E00973EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
